.dpersonal{
    width: 100%;
    .content{
        height: 100vh;
        position: relative;
        /* height: 500px; */
        width: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .uno{
            position: relative;
            height: 80vh;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            img.img-1{
                max-width: 370px;
                border-radius: 50%;
            }

            .uno-img{
                position: relative;
                img.icon{
                    position: absolute;
                    left: -3%;
                    bottom: 5%;
                    background-color: #fff;
                    border: solid 2px $orange;
                    padding: 1em;
                    border-radius: 50%;
                }
            }

            .dos-img{
                position: absolute;
                right: 7%;
                bottom: -1px;
                img.img-2{
                    max-width: 300px;
                    border-radius: 50%;
                    border: solid 2px #fff;
                }
            }
            
        }
        .dos{
            width: 30%;
            height: 80vh;
            /* background-color: cyan; */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            h1{
                font-size: 3em;
                font-weight: 500;
                color: #fff;
                text-transform: uppercase;
            }
            p{
                color: $black;
                text-align: left;
            }
        }        
    }
}