@media (max-width: 750px) {
    .nav-menu .nav-content{
        padding-left: 2em;
        padding-right: 2em;
    }

    .nav-menu .nav-content .menu nav.primary-navigation{
        display: none;
    }
    .nav-menu .nav-content .menu{
        justify-content: space-between;
    }

    .nav-menu .nav-content .contact{
        display: none;
    }

    .nav-menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-menu .toggle{
        display: block;
        padding-right: 2em;
    }

    header{
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 3em;
    }

    header .sun{
        bottom: unset;
        top: 12%;
    }

    header .slide .text img.logo-cehm{
        width: 265px;
    }

    header .slide{
        margin-top: unset;
        flex-direction: column;
        height: 600px;
    }
    header .slide .text{
        flex: 50%;
        align-items: center;
        padding-left: unset;
    }
    header .slide .img-b{
        flex: 47%;
        width: 100%;
        -webkit-mask: unset;
    }

    header .slide .text a.cta{
        font-size: 1em;
    }

    /* .about{
        height: 130vh;
    } */

    .about .row{
        flex-direction: column;
    }

    .about .row .col-text .content p{
        font-size: 1.1em;
    }

    .about .row .col-img{
        margin-top: 6em;
    }

    .about .row .col-img img.cbba {
        max-width: 350px;
    }
    .about .row p.frase{
        font-size: .9em;
        left: -3%;
        top: -23%;
        background-color: #800008;
        border-radius: 20px;
        padding: 10px 1px 10px 15px;
        width: 82%;
        color: #fff;
    }

    .about .info .content{
        height: unset;
        flex-direction: column;
    }

    .about .row .col-text .content{
        width: 88%;
        padding: .5em;

    }

    .about .row .col-text .content h1{
        font-size: 2em;
    }

    .about .info .content .vision{
        border-bottom-left-radius: unset;
        border-top-right-radius: 25px;
        width: 250px;
    }

    .about .info .content .mision{
        width: 250px;
    }

    .about .info .content .filo{
        border-top-right-radius: unset;
        border-bottom-left-radius: 25px;
        width: 250px;
    }

    .areas{
        height: auto;
    }

    .areas .content{
        flex-direction: column;
        height: unset;
    }

    .areas .content .text-area{
        width: 100%;
    }

    .areas .content .boxes-area{
        width: 100%;
    }

    .proteccion{
        height: auto;
    }

    .protection .content{
        height: auto;
        flex-direction: column;
    }

    .protection .content .pro-text{
        width: 95%;
    }

    .protection .content .pro-text .col .wasap{
        font-size: 1.5em;
        padding: 1px 20px 1px 20px;
    }

    .protection .content .pro-text .col h1{
        font-size: 1.6em;
    }

    .protection .content .pro-shield img{
        max-width: 300px;
    }

    .protection .content .pro-text{
        margin-top: 3em;
    }

    .parallax{
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .parallax .content{
        flex-direction: column;
    }

    .parallax .content .avatar img{
        max-width: 250px;
    }

    .parallax .content .info h1{
        font-size: 2.5em;
    }

    .parallax .content .info{
        align-items: center;
    }

    .maps{
        flex-direction: column;
    }

    .maps .cil{
        padding-top: 6em;
        padding-bottom: 6em;
    }

    .maps .cil img{
        max-width: 300px;
    }

    footer .content{
        flex-direction: column;
    }

    #pagetop{
        right: unset;
        left: 0;
    }

    .protection img.banner{
        max-width: 300px;
    }

    .parallax .content .info .cta{
        font-size: 1.2em;
    }

    footer .content .col{
        width: 100%;
    }

    .nav-menu ul.navigation.active{
        li.submenu{
            span {
                color : white;
                cursor : pointer;
                display: block;
                font-size: 1.8em;
                color: #fff;
            }
            span::before{
                content: url(../images/icons/plus.svg);
            }

            .slide {
                clear:both;
                width:100%;
                height:0px;
                overflow: hidden;
                text-align: center;
                transition: height .4s ease;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: flex-start;
                padding-left: 2em;
                a{
                    font-size: 1em;
                }
            }
            
            #cbox{
                opacity: 0;
                height: 0px;
                position: absolute; 
            }
            #cbox:checked + .slide{
                height: 100px;
            }

            #areas{
                opacity: 0;
                height: 0px;
                position: absolute; 
            }
            #areas:checked + .slide{
                height: 100px;
            }

            #ejes{
                opacity: 0;
                height: 0px;
                position: absolute; 
            }
            #ejes:checked + .slide{
                height: 100px;
            }
        }   
    }

    .dpersonal .content{
        flex-direction: column;
    }

    .dpersonal .content .dos h1{
        font-size: 2em;
    }

    .dpersonal .content .uno img.img-1{
        max-width: 310px;
    }
    .dpersonal .content .uno .dos-img img.img-2{
        max-width: 208px;
    }
    .dpersonal .content .uno .dos-img{
        right: -39%;
    }
    .dpersonal .content .dos{
        width: 80%;
    }
    .fedu{
        flex-direction: column;
    }
    .fedu .fedu-left h1{
        font-size: 2em;
    }

    .about .row .col-img .edu{
        left: -2%;
    }

    .afamiliar .content{
        flex-direction: column;
    }
    .afamiliar .content .text .text-content h1{
        font-size: 2em;
    }
    .afamiliar .content .img-circle img.meet{
        max-width: 280px;
    }

    .cap .content{
        flex-direction: column;
    }
    .cap .content .left .text h1{
        font-size: 2em;
    }

    .afamiliar .content .img-circle #circle1{
        left: -94%;
    }
    .afamiliar .content .img-circle #circle2{
        left: unset;
        right: -87%;
    }
    img.icon {
        width: 70px;
    }

    .bg{
        height: 100% !important;
    }
}

@media (max-width: 950px) {
    header .slide{
        flex-direction: column;
    }
    header .slide .img-b{
        flex: 47%;
        width: 100%;
        background-position: center;
        background-size: cover;
    }   

    /* .bg{
        height: 290px !important;
    } */
}