@import "variables";
@import "general";
@import "nav_menu";
@import "header";
@import "about";
@import "areas";
@import "proteccion";
@import "maps";
@import "parallax";
@import "footer";
@import "header_portrait";
@import "dpersonal";
@import "fedu";
@import "afamiliar";
@import "acap";
@import "animations";
@import "responsive";

.bg {
    /* position: fixed; */
    position: relative;
    /* z-index: -1; */
    width: 100vw;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* filter: blur(30px);
    transition: background-image 0.5s; */
  }
  .bg::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 900px;
  }
  
  .carousel-wrap {
    position: relative;
    width: 100%;
    overflow: hidden;
    /* border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19) */
  }
  .carousel-wrap .item {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background: #000; */
    color: #FFF;
    opacity: 1;
  }
  .carousel-wrap .item:first-of-type {
    position: relative;
  }
  .carousel-wrap .item img {
    display: block;
    max-width: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .carousel-wrap .item a {
    display: block;
  }
  
  .button-prev, .button-next, .dot-group {
    position: absolute;
    z-index: 1;
  }
  
  .button-prev, .button-next {
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.3s;
  }
  .button-prev:hover, .button-next:hover {
    opacity: 0.7;
  }
  .button-prev img, .button-next img {
    display: block;
    max-width: 50px;
  }
  
  .button-next {
    right: 0;
  }
  
  .dot-group {
    right: 0;
    bottom: 8px;
    left: 0;
    display: flex;
    justify-content: center;
  }
  .dot-group a {
    display: block;
    margin-right: 8px;
    margin-left: 8px;
    width: 16px;
    height: 16px;
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    transition: 0.3s;
  }
  .dot-group a:hover, .dot-group a.active {
    background: #fff;
  }
  
  .carousel-prev-enter-active, .carousel-prev-leave-active,
  .carousel-next-enter-active, .carousel-next-leave-active {
    transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    will-change: transform;
  }
  
  .carousel-next-enter, .carousel-prev-leave-to {
    transform: translateX(100%);
  }
  
  .carousel-next-leave-to, .carousel-prev-enter {
    transform: translateX(-100%);
  }