<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CEHM - Galeria</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/vaibhav111tandon/vov.css@latest/vov.css" />
    <link href="//unpkg.com/viewerjs/dist/viewer.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <div class="preloader"> 
    <div class="lds-facebook"><div></div><div></div><div></div></div>
  </div>
  <main id="app">

    <nav-menu></nav-menu>

    <section class="header-portrait" id="home">
      <div class="content galeria">
          <h1 class="title">{{year}}</h1>
      </div>
    </section>

    <section class="fotos">
        <div class="years">
            <ul>
                <li v-for="anio in years" :key="anio">
                    <a v-if="year==anio" class="active" href="#" @click="filtrar(anio)">{{anio}}</a>
                    <a v-else href="#" @click="filtrar(anio)">{{anio}}</a>
                </li>                
            </ul>
        </div>
        
        <viewer :images="pictures" class="gallery">
            <div v-for="picture in pictures" :key="picture.id" :class="`iner `+picture.clase">
                <img
                    :src="picture.url" 
                    :alt="picture.title"
                >
                <span>{{picture.title}}</span>
            </div>
        </viewer>
    </section>
    
    <ubicacion></ubicacion>

    <my-footer></my-footer>

    <transition name="fade">
        <div id="pagetop" class="fixed right-0 bottom-0" v-show="scY > 300" @click="toTop">
          <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none"
              stroke="#3EE23E"
              stroke-width="1" stroke-linecap="square" stroke-linejoin="arcs">
            <path d="M18 15l-6-6-6 6"/>
          </svg>
        </div>
    </transition>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.rawgit.com/SSENSE/vue-carousel/6823411d/dist/vue-carousel.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-scrollto"></script>  
  <script src="//unpkg.com/viewerjs/dist/viewer.js"></script>
  <script src="//unpkg.com/v-viewer/dist/v-viewer.js"></script>
  <script src="components/NavMenu.js"></script>
  <script src="components/Ubicacion.js"></script>
  <script src="components/Footer.js"></script>


  <script>

    window.onload = function(){ 
        document.querySelector(".preloader").style.display = "none"; 
    }

    const pictures = [
        {
            id: 1,
            url: `http://${location.host}/images/galeria/pic1.jpg`,
            thumb: "",
            title: "Entrega de Crédito",
            clase: "",
            year: 2022
        },
        {
            id: 2,
            url: `http://${location.host}/images/galeria/pic2.jpg`,
            thumb: "",
            title: "Oficial de Salvaguarda",
            clase: "v-stretch",
            year: 2022
        },
        {
            id: 3,
            url: `http://${location.host}/images/galeria/pic3.jpg`,
            thumb: "",
            title: "Sopa de letras sobre los derechos",
            clase: "big-stretch",
            year: 2022
        },
        {
            id: 4,
            url: `http://${location.host}/images/galeria/pic4.jpg`,
            thumb: "",
            title: "Taller de Autoestima",
            clase: "",
            year: 2022
        },
        {
            id: 5,
            url: `http://${location.host}/images/galeria/pic5.jpg`,
            thumb: "",
            title: "Taller de las relaciones interpersonales",
            clase: "v-stretch",
            year: 2022
        },
        {
            id: 6,
            url: `http://${location.host}/images/galeria/pic6.jpg`,
            thumb: "",
            title: "Taller sobre CNA",
            clase: "big-stretch",
            year: 2022
        },
        {
            id: 7,
            url: `http://${location.host}/images/galeria/pic7.jpg`,
            thumb: "",
            title: "Visitando Familias",
            clase: "v-stretch",
            year: 2022
        },
        {
            id: 8,
            url: `http://${location.host}/images/galeria/pic8.jpeg`,
            thumb: "",
            title: "",
            clase: "v-stretch",
            year: 2021
        },
        {
            id: 9,
            url: `http://${location.host}/images/galeria/pic10.jpg`,
            thumb: "",
            title: "",
            clase: "big-stretch",
            year: 2021
        },
        {
            id: 10,
            url: `http://${location.host}/images/galeria/pic9.jpeg`,
            thumb: "",
            title: "",
            clase: "v-stretch",
            year: 2021
        },
        {
            id: 11,
            url: `http://${location.host}/images/galeria/pic11.jpg`,
            thumb: "",
            title: "",
            clase: "h-stretch",
            year: 2021
        },
        {
            id: 12,
            url: `http://${location.host}/images/galeria/pic14.jpg`,
            thumb: "",
            title: "",
            clase: "big-stretch",
            year: 2021
        },
        {
            id: 13,
            url: `http://${location.host}/images/galeria/pic13.jpg`,
            thumb: "",
            title: "",
            clase: "",
            year: 2021
        },
        {
            id: 14,
            url: `http://${location.host}/images/galeria/pic12.jpeg`,
            thumb: "",
            title: "",
            clase: "",
            year: 2021
        },
    ]
    /* color: '#3EE23E',
    background: '#800008' */
    Vue.use(VueViewer.default)

    new Vue({
        el: "#app",
        components: {
          'carousel': VueCarousel.Carousel,
          'slide': VueCarousel.Slide,
        },
        data() {
            return {
              currentYear: new Date().getFullYear(),
              scTimer: 0,
              scY: 0,
              navigation: "navigation",
              toggleCls: "toggle",
              year: "",
              pictures: pictures,
              picturesCopy: [],
              years: [2022,2021]
            }
        },
        mounted () {
            window.addEventListener('scroll', this.handleScroll);
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const anio = urlParams.get('year');
            this.year = anio;
            document.title = `CEHM - Galeria ${this.year}`;
            this.picturesCopy = this.pictures;
            this.pictures = this.pictures.filter(element=>element.year==Number(this.year));
        },

        methods: {
            handleScroll() {
                if (this.scTimer) return;
                this.scTimer = setTimeout(() => {
                this.scY = window.scrollY;
                clearTimeout(this.scTimer);
                this.scTimer = 0;
                }, 50);
            },
            toTop() {
                window.scrollTo({
                    top: 0,
                    behavior: "smooth"
                });
            },
            toggle(){
                if(this.navigation==='navigation'){
                this.navigation = "navigation active";
                this.toggleCls = "toggle active";
                }else{
                this.navigation = "navigation";
                this.toggleCls = "toggle";
                }
            },
            onDone(){
                this.navigation = "navigation";
                this.toggleCls = "toggle";
            },
            filtrar(value){
                this.pictures = this.picturesCopy;
                this.pictures = this.pictures.filter(element=>element.year==Number(value));         
            }
        }
    })
  </script>

</body>
</html>